/*
*
* Fonts
*
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
*
* RESET CSS
*
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
*
* Default
*
*/
body {
    font-family: 'Source Sans Pro', sans-serif;
}
/*
*
* Header
*
*/
.main-menu .navbar-nav li a.nav-link {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
    color: #fff;
    t    padding: 37px 10px 10px;
    ransition: opacity 0.24s ease-in-out;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    }


.site-header {
    background-color: #333333;
    padding: 0;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link, 
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #13b4ef;
}


.has-dropdown {
    position: relative;
}

.main-menu .is-dropdown {
     display: none;
     position: absolute;
     top: 65px;
     z-index: 1;
     background-color: #333333cf;
     max-width: 200px;
     min-width: 200px;
     padding-left: 0;
}

.main-menu .is-dropdown li {
    list-style: none;
}

.main-menu .is-dropdown li a {
    padding: 10px 10px;
    display: block;
    color: #fff;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}


.main-menu .is-dropdown li a:hover {
   text-decoration: none;
   background-color: #000;
}

.main-menu .navbar-nav li:hover .is-dropdown {
    display: block;
}

.main-menu .is-subdropdown {
    position: absolute;
    top: 0;
    right: -150px;
    background-color: #333333cf;
    display: none;
    width: 150px;
}

.main-menu .has-subdropdown:hover .is-subdropdown {
    display: block;
}

.main-menu .has-subdropdown {
    position: relative;
}

.main-menu .navbar-nav li ul.is-dropdown li a {
    text-transform: capitalize;
    font-size: 15px;
}

.navbar {
    padding: 0;
    margin-bottom: 0 !important;
}

/*
*
* Footer
*
*/
footer {
    background-color: #333;
    /*position: fixed;*/
    width: 100%;
    /*bottom: 0;*/
    z-index: 1;
}

.footer-menu {}

.footer-menu li {
    display: inline;
}

.footer-menu li a {
    padding: 35px 14px;
    display: inline-block;
    color: #fff;
}

footer p {
    padding: 10px;
    padding: 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

/*
*
* MISC
*
*/

.mt-120 {
  margin-top: 120px;  
}

.mt-30 {
  margin-top: 30px;  
}

.mb-20 {
    margin-bottom: 20px;
}

/*
*
* Banner
*
*/

.section-banner {
    background-image: url('../images/banner.jpg');
    min-height: 600px;
    position: relative;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: calc(100vh - 105px);
}

.section-banner h1 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 36px;
    font-family: Montserrat;
    display: inline-block;
    margin-top: 60px;
    width: 100%;
}
.section-banner .system-page {
    margin-top: 70px;
}
.banner-form {
    position: absolute;
    /* top: 100px; */
    left: 0;
    right: 0;
    width: 700px;
    max-width: 100%;
    padding: 5px;
    margin: 25px auto 0;
    background-color: rgba(255, 255, 255, 0.34);
}

.section-banner .container {
    position: relative;
}

.banner-form .input-group {
    margin-bottom: 0;
    min-height: 48px;
}

.banner-form .input-group>.custom-select:not(:last-child), 
.banner-form .input-group>.form-control:not(:last-child) {
    border-radius: 0;
    border-right: 0;
    box-shadow: none;
    border: 0;
    min-height: 48px;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

.banner-form .input-group>.input-group-append>.input-group-text {
    background-color: #fff;
    border: 0;
    border-radius: 0;
}

.buttons-block {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    /* display: inline-block; */
    width: 100%;
    top: 250px;
    z-index: 0;
}

.buttons-block li {
    display: inline-block;
    margin-right: 20px;
}

.buttons-block li a {
    min-width: 150px;
}
.buttons-block-homepage li a {
    min-width: 170px;
    height: 115px;
    padding: 25px 0;
    margin-top: 0;
    font-size: 18px;
    padding-top: 40px;
}
.buttons-block.sales-button li a {
    min-width: 180px;
    text-transform: uppercase;

}

.buttons-wtext h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 46px;
    font-weight: bold;
}

.buttons-wtext {
    top: 230px;
}


.buttons-block.buttons-level2 {
    position: relative;
    top: 0;
    animation: flyIn .5s ease-in-out;
}

.animation {
}

.buttons-level2 .btn-white {
    background-color: #fdfdfd;
    box-shadow: 0 0 1px 1px #cac6c6;
    color: #4399f7 !important;
}

.buttons-level2 .btn-white:hover {
    border: 1px solid #4399f7;
}

.buttons-credit li .btn-white {
    min-width: 210px;
}


/*
*
* Button
*
*/

main {
    /*margin-bottom: 86px;*/
}

.section-banner.category {
    min-height: 180px;
    background-position: 100% 25%;
}

.section-banner.category .banner-form {
    margin: 65px auto 0;
}

.section-category {
    background-color: #fff;
    overflow: hidden;
    min-height: calc(100vh - 292px);
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb li:after {
    content: "/";
    padding-left: 10px;
}

.breadcrumb li:last-child:after {
    content: "";
    display: none;
}

.breadcrumb li {
    padding: 10px;
}

.category-block {
    background: #fdfdfd;
    border: 1px solid #ebebeb;
    padding: 8px 30px;
    margin-bottom: 30px;
}

.category-block h4 {
    font-size: 18px;
    color: #626262;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    margin-top: 10px;
    color: #0074A2;
    position:;
    margin-bottom: 35px;
}

.category-block:hover {
    background-color: #FCFCFC;
}

.category-block h4:after {
    transition: all 0.3s ease-out;
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    display: block;
    width: 32px;
    height: 2px;
    background: #40c1f0;
}

.category-block:hover h4:after {
    background: #ceeffb;
    width: 60px;
    height: 2px;
}

.category-list  {
    counter-reset: headings;
    padding-left: 10px;
}


.category-list-16  {
    counter-reset: headings 15;
    padding-left: 10px;
}

.category-list-14  {
    counter-reset: headings 13;
    padding-left: 10px;
}

.category-list-13  {
    counter-reset: headings 12;
    padding-left: 10px;
}

.category-list-12  {
    counter-reset: headings 11;
    padding-left: 10px;
}

.category-list-11  {
    counter-reset: headings 10;
    padding-left: 10px;
}

.category-list-8  {
    counter-reset: headings 7;
    padding-left: 10px;
}

.category-list-7  {
    counter-reset: headings 6;
    padding-left: 10px;
}
.category-list-6  {
    counter-reset: headings 5;
    padding-left: 10px;
}

.category-list li a {
    position: relative;
    display: block;
    padding: 0.6em 0.4em 0.8em 20px;     *
    padding: .4em;
    margin: .5em 0;
    background: #F1F1F1;
    color: #616161;
    text-decoration: none;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -ms-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.category-list li a:hover {
    background: #DDDDDD;
    color: #5C5C5C;
}
.category-list li a:before {
counter-increment: headings;
    content: counter(headings, decimal); 
    position: absolute; 
    left: -18px;
    top: 50%;
    margin-top: -16px;
    background: #cdcdcd;
    height: 32px;
    width: 32px;
    line-height: 26px;
    border: 3px solid #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #2c2c2c;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.category-list a:hover:before{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);  
}

.category-block h4 span {
    float: right;
}

.category-block h4 span i {
    font-size: 24px;
    color: #797575;
}

.category-block:hover h4 span i {
    color: #0074A2;
}

.recent-list li a {
    color: #737373;
    padding: 10px 0;
    display: inline-block;
}

.recent-list li a i {
    margin-right: 5px;
}

.category-block.recent-block {
    border-radius: 5px;
}

/*
*
* Button
*
*/

.btn {
    font-family: Source Sans Pro;
    text-transform: uppercase;
}

.btn:focus,
.btn:hover,
.btn:active {
    font-family: Source Sans Pro;
    outline: none;
    box-shadow: none;
}

.btn-lg {
    padding: 37px 10px 10px;
}

.btn-sm {
    padding: 40px;
}

.btn-2line {
    padding: 24px 40px;
}

.btn-3line {
    padding: 24px 15px;
}

.btn-white {
    border: 1px solid #ccc;
    border: 0px;
    background: #fff;
    color: #737373 !important;
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    position: relative;

    transition: all 0.3s ease-out;
    background: #ffffff;
    border: 1px solid #ebebeb;
    position: relative;
    margin: 45px 0 24px 0px;
    font-weight: bold;

}

.btn-white:hover {
    background: #fafafa;
    border: 0px solid transparent;
    top: -3px;
    box-shadow: 0px 6px 15px rgba(0,0,0,.08);
}

.btn-back {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 12px;
    text-align: center;
    padding: 7px;
    font-size: 25px;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: ease;
    color: #fff;
-webkit-appearance: unset !important;
}

.btn-back i {
    top: 7px;
    position: absolute;
    left: 0;
    right: 0;
}

.btn-back:hover {
    background-color: #f3f3f3;
    color: #0056b3;
}

.page-content iframe {
    width: 100%;
    min-height: 600px;
    /* margin-bottom: 40px; */
}

.page-content.iframe-content {
    border: 1px solid #fdfdfd;
    padding: 20px;
    background-color: #fbfbfb63;
    margin-bottom: 40px;
}

.page-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin: 40px 0 40px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

.page-subtitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #0074A2;
    font-family: 'Montserrat', sans-serif;
}

.page-description {
    font-family: 'Montserrat', sans-serif;
    color: #0074A2;
}

.icon {
    display: block;
    height: 40px;
    width: 40px;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
}

.icon-elec {
    background-image: url("../images/electricity.png");
}
.icon-gas {
    background-image: url("../images/gas.png");
}
.icon-telco {
    background-image: url("../images/icon-wifi.png");
}

.icon-elec-gas {
    background-image: url("../images/icon-electrictyandgas.png");
}

.icon-solar {
    background-image: url("../images/icon-solar.png");
}

.section-banner-result h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 40px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 60px;
}

.post-block {
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin: 20px 0;
}

.post-block .title {
    border-bottom: 1px solid #bbb;
    padding: 10px;
    background-color: #d8d8d8;
    text-transform: uppercase;
}

.post-block .description {
    padding: 10px;
    line-height: 1.5;
}

.post-block.even {
    background-color: #fff;
}

.post-block.odd {
    background-color: #ececec;
}

.resutl-text {
    color: #4399f7;
    font-size: 28px;
    margin-top: 20px;
}

.back-link a {
    text-decoration: underline;
    margin-top: 45px;
    display: inline-block;
}

.input-group-text a i {
    color: #756a6a;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: uppercase;
    font-family: Source Sans Pro;
}
input::-moz-placeholder { /* Firefox 19+ */
  text-transform: uppercase;
    font-family: Source Sans Pro;
}
input:-ms-input-placeholder { /* IE 10+ */
  text-transform: uppercase;
    font-family: Source Sans Pro;
}
input:-moz-placeholder { /* Firefox 18- */
  text-transform: uppercase;
    font-family: Source Sans Pro;
}

/* search*/
input.ais-SearchBox-input {
    border-radius: 0;
    border-right: 0;
    box-shadow: none;
    border: 0;
    min-height: 48px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    padding: 10px;
}

input.ais-SearchBox-input:focus,
input.ais-SearchBox-input:active,
input.ais-SearchBox-input:hover {
    outline: none;
    box-shadow: none;
}

.ais-SearchBox {
    width: 100%;
    display: block;
}

form.ais-SearchBox-form {
    position: relative;
}

button.ais-SearchBox-submit {
    position: absolute;
    right: 0;
    width: 40px;
    left: unset;
    right: 0;
    height: 48px;
    background-color: transparent;
    border: 0;
}

button.ais-SearchBox-submit svg path {
    font-size: 40px;
    width: 40px;
}

button.ais-SearchBox-submit svg {
    font-size: 43px;
    width: 43px;
}

.ais-Hits.ais-Hits--empty,
li.ais-Hits-item {
    background-color: transparent;
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
}

.ais-Hits.ais-Hits--empty {
    padding: 15px;
    background-color: #ccc;
}

div#hits {
     display: none;
     position: absolute;
     width: 100%;
     z-index: 1;
     margin: 0;
     background-color: #cc;
     margin-top: 3px;
     left: 1px;
}

ol.ais-Hits-list {
    display: block;
    width: 100%;
    margin: 0;
    background-color: #fff;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    padding-top: 0;
    margin-top: 0;
    max-height: 356px;
    overflow-y: auto;
}

.show {
    display: block !important;
}

li.ais-Hits-item a {
    font-size: 15px;
    color: unset;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 1rem;
}

li.ais-Hits-item.hover a,
li.ais-Hits-item a:hover {
    text-decoration: none;
    background-color: #ccc;
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

li.ais-Hits-item.hover {
    /* text-decoration: none; */
    /* background-color: #ccc; */
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

li.ais-Hits-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
.ais-SearchBox-reset {
    right: 2.3rem;
}
/* search*/


/* TEXT COLOR*/
.text-md {
    font-size: 20px;
    margin-bottom: 21px;
}

.text-blue {
    color: #0074A2;
}
/* TEXT COLOR*/


/* Common*/
.mtb-30 {
    margin: 30px 0 ;
}
/* Common*/

/* image*/
.img-responsive {
    width: 100%;
    margin: 0 auto;
    /* display: block; */
    /* text-align: center; */
}


.section-single {
    background-color: #fff;
}

/* Move it (define the animation) */
@keyframes flyIn {
 0%   { 
 transform: translateY(100%); 
 opacity: 0;      
 }
 100% { 
 transform: translateY(0%); 
 opacity: 1;
 }
}

.tinymce-kb {
    margin-bottom: 30px;
}
.tinymce-kb .tox-tinymce {
    height: 500px !important;
}

/*
*
* Construction
*
*/
.construction-body {
    text-align: center;
    margin-top: 5em;
}

.construction-body h1 {
    text-transform: uppercase;
    margin-top: 5em;
    font-weight: bold;
    font-size: 40px;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

.construction-body h1 span {
    color: #13b4ef;
    font-style: italic;
}
.construction-body p {
    margin-top: 10px;
    font-size: 35px;
    color: #555;
    letter-spacing: 5px;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

.box-sumo {
    border-radius: 5px;
    padding: 30px 20px;
    min-height: 111px;
    line-height: 1.5;
    position: relative;
    z-index: 999;
    transition-property: all;
    transition-duration: .10s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    display: none;
    /* margin-right: 15px; */
    width: 94.6%;
    margin: 0 auto;
    margin-right: 18px;
}

.box-sumo p {
    font-size: 28px;
}

.box-animation {
    display: block;
    animation: flyIn 1s ease-in-out;    
}

.box-sumo:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 106px;
    width: 239px;
    height: 129px;
    margin: 0 auto;
    background-image: url('../images/sumo-cartoon.png');
    background-repeat: no-repeat;
    z-index: 0;
    background-size: contain;
    background-position: center;
}


.box-white {
    background-color: #FFF;
}


/***
Form
****/

.form-section {
    background-color: #565555;
}


.form-section {
    background-color: #565555;
}

.form-feedback {
    width: 60%;
    padding: 25px 0;
}

.form-feedback h3,
.form-feedback label {
    color: #fff;
}

.form-feedback h3 {
    font-size: 18px;
}

.form-feedback label {
    font-size: 15px;
}

.form-feedback .fas{
    position: absolute;
    bottom: 1px;
    left: 9px;
    font-size: 20px;
}
.form-feedback .from-arrow {
    background-color: #fff;
    color: #565555;
    border-radius: 50%;
    height: 25px;
    position: relative;
}

.form-control {
    box-shadow: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    border: 2px solid #fff !important;
    color: #fff !important;
}

.form-control:focus {
    border-color: #ccc !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: #fff !important;
}

.form-feedback-field {
    display: none;
}

.form-feedback .fas.fa-angle-down {
    left: 6px;
    top: 3px;
}

.buttons-list-sale li a {
    min-width: 170px;
}

.buttons-list-services li a {
    min-width: 200px;
}

#content-container {
    min-height: 90vh;
    padding: 50px 0;
}

.buttons-services.buttons-block li {
    margin-right: 10px;
} 

.btn-back-template {
    top: 17px;
}